

/*main css*/
.izl-rmenu{position:fixed; right:0; margin-right:20px; bottom:20px; padding-bottom:20px; background:url(../images/r_b.png) 0px bottom no-repeat; z-index:999; }
.izl-rmenu .btn{width:72px; height:73px; margin-bottom:1px; cursor:pointer; position:relative;}
.izl-rmenu .btn-qq{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#6da9de;}
.izl-rmenu .btn-qq:hover{background-color:#488bc7;}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#6da9de; text-decoration:none; display:block;}
.izl-rmenu .btn-wx{background:url(../images/r_wx.png) 0px 0px no-repeat; background-color:#78c340;}
.izl-rmenu .btn-wx:hover{background-color:#58a81c;}
.izl-rmenu .btn-wx .pic{position:absolute; left:-139px; top:0px; display:none;width:139px;height:139px;}
.izl-rmenu .btn-phone{background:url(../images/r_phone.png) 0px 0px no-repeat; background-color:#fbb01f;}
.izl-rmenu .btn-phone:hover{background-color:#ff811b;}
.izl-rmenu .btn-phone .phone{background-color:#ff811b; position:absolute; width:160px; left:-160px; top:0px; line-height:73px; color:#FFF; font-size:18px; text-align:center; display:none;}
.izl-rmenu .btn-top{background:url(../images/r_top.png) 0px 0px no-repeat; background-color:#666666; display:none;}
.izl-rmenu .btn-top:hover{background-color:#444;}

/*����*/
.izl-rmenu .btn-wx2{background:url(../images/r_wx.png) 0px 0px no-repeat; background-color:#6aa5e7;}
.izl-rmenu .btn-wx2:hover{background-color:#5c98db;}
.izl-rmenu .btn-wx2 .pic{position:absolute; left:-139px; top:0px; display:none;width:139px;height:139px;}

.izl-rmenu .btn-wq1{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#f2c4c4;}
.izl-rmenu .btn-wq1:hover{background-color:#e5b0b0;}
.izl-rmenu .btn-wq1 .pic{position:absolute; left:-139px; top:0px; display:none;width:130px;height:163px;}

.izl-rmenu .btn-wq2{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#e7ca71;}
.izl-rmenu .btn-wq2:hover{background-color:#d5b85e;}
.izl-rmenu .btn-wq2 .pic{position:absolute; left:-139px; top:0px; display:none;width:130px;height:163px;}