.lawyer-img {
    float: left; 
    margin-left: 2%;
    margin-right: 2%;
    width: 30%;
}

.lawyer-info {
    font-size: 17px;
    margin-top: -30px;
    float: right;
    width: 65%;
}

.lawyer-info p {
    line-height: 35px;
    padding: 0 0 15px;
}

@media (min-width: 450px) {
    .lawyer-img {
        float: left; 
        margin-left: 2%;
        margin-right: 2%;
        width: 30%;
    }
    
    .lawyer-info {
        font-size: 17px;
        margin-top: -30px;
        float: right;
        width: 65%;
    }

    .lawyer-info p {
        line-height: 40px;
        padding: 0 0 15px;
    }
}

@media (max-width: 450px) {
    .lawyer-img {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
    
    .lawyer-info {
        font-size: 17px;
        margin-top: 0px;
        padding: 10px;
        width: auto;
    }
    .lawyer-info p {
        line-height: 40px;
        padding: 0 0 15px;
    }
}