.main {
    width: 80%;
    vertical-align: middle;
    padding: 0 10% 0 10%;
    background: azure;
}
.lawyer-img {
    float: left; 
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
}

.lawyer-img img {
    width: 100%;
}

.lawyer-info {
    font-size: 17px;
    float: right;
    width: 55%;
}

.lawyer-info p {
    line-height: 35px;
}

@media (min-width: 450px) {
    .lawyer-img {
        float: left; 
        margin-left: 2%;
        margin-right: 2%;
        width: 40%;
    }
    
    .lawyer-info {
        font-size: 17px;
        float: right;
        width: 55%;
    }
}

@media (max-width: 450px) {
    .main {
        width: 100%;
        padding: 0;
    }
    .lawyer-img {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
    
    .lawyer-info {
        font-size: 17px;
        padding: 10px;
        width: auto;
    }
}